{% extends 'stories\base.html' %}

<h1>Edit this story</h1>

{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.deletebtn {
  background-color: #818181;
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 11px;
  cursor: pointer;
}

.updatebtn {
  background-color: #007bff;
  border: none;
  color: Black;
  padding: 5px 9px;
  font-size: 12px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.deletebtn:hover {
  background-color: RoyalBlue;
}
.updatebtn:hover {
  background-color: RoyalBlue;
}

</style>
</head>

<h2>{{ error }}</h2>
<br>
<div class="card text-center" style="width:500px; margin:0 auto; height:100px;">
 <div class="card">
 <form method="POST" action="{% url 'editstory' story.id %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div id="editStoryDiv">
    <table align="center">
      {{ form.as_table }}
      <tr><td></td></tr>
      <tr><td></td></tr>
    </table>
    <button type="submit" class="updatebtn">Update Story</button>
  </div>
 </form>
 <form method="POST" action="{% url 'deletestory' story.id %}">
  {% csrf_token %}
  <button type="submit" class="deletebtn"  title="Delete this" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></button>
 </form>
 </div>
</div>

{% endblock %}
