{% extends 'stories\base.html' %}
{% block content %}

<br>
<h2 align="center">Humans of Cisco and their stories.</h2>
<!---Stylesheet for view icon --->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<br>
{% for story in stories %}
<div class="card text-center" style="width:500px; margin:0 auto;">
  <div class="card">
    <a href="{% url 'readonlystories' story.id %}">
    <img class="card-img-top" src="{{story.image.url}}" alt="Card image cap" style="width:250px;">
    <div class="card-body">
    <h5 class="card-title" style="color:green;">{{story.title}}</h5>
    <p class="card-text">{{story.fullstory|striptags|truncatechars:100}}</p>
    </a>
    <label>Storyteller: <b>{{ story.user.get_full_name}}</b></label>
    <br>
    <label style="font-size:13px;">Created on: {{ story.created|date:'F jS Y' }}</label>
    <br>
    <label style="font-size:13px;"><i class="fa fa-eye" title="Total Views"></i> {{ story.viewcount }}</label>
    </div>
  </div>
</div>
  <br>

{% endfor %}


{% endblock %}
